{% extends 'base.html.twig' %}

{% block title %}Conge{% endblock %}

{% block body %}
    <h1 class="mb-3">Congé</h1>
    <a href="{{ path('app_conge_index') }}" class="btn btn-secondary"><i class="bi bi-arrow-left-short"></i> Précedent</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conge.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ conge.debut ? conge.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ conge.fin ? conge.fin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ conge.motif }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ conge.status }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex mt-3">
        <a href="{{ path('app_conge_edit', {'id': conge.id}) }}" class="btn btn-primary me-2">
            <i class="bi bi-pencil-square"></i> Modifier
        </a>

        {{ include('conge/_delete_form.html.twig', {'conge': conge}) }}
    </div>
{% endblock %}
