{% extends 'base.html.twig' %}

{% block title %}CIRIS-OP | Sessions{% endblock %}

{% block body %}
    <h1 class="mb-3">Sessions des opérateurs</h1>
    <a href="{{ path('app_session_new') }}" class="btn btn-primary mb-3"><i class="bi bi-plus-square"></i> Nouveau</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Operateur</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>MessagesEnvoyes</th>
                <th>MessagesRecus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.operateur.prenom}}</td>
                <td>{{ session.debut ? session.debut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ session.fin ? session.fin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ session.messagesEnvoyes }}</td>
                <td>{{ session.messagesRecus }}</td>
                <td>
                    <a href="{{ path('app_session_show', {'id': session.id}) }}" class="btn btn-secondary"><i class="bi bi-eye-fill"></i></a>
                    <a href="{{ path('app_session_edit', {'id': session.id}) }}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}

        <div class="pagination">
            {% if currentPage > 1 %}
                <a href="?page={{ currentPage - 1 }}" class="text-decoration-none me-3 mb-3">← Précédent</a>
            {% endif %}

            Page {{ currentPage }} sur {{ totalPages }}

            {% if currentPage < totalPages %}
                <a href="?page={{ currentPage + 1 }}" class="text-decoration-none ms-3 mb-3">Suivant →</a>
            {% endif %}
        </div>

        </tbody>
    </table>

{% endblock %}
