{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1 class="mb-3">Session index</h1>
    <a href="{{ path('app_session_new') }}" class="btn btn-primary mb-3"><i class="bi bi-plus-square"></i> Nouveau</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>MessagesEnvoyes</th>
                <th>MessagesRecus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.debut ? session.debut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ session.fin ? session.fin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ session.messagesEnvoyes }}</td>
                <td>{{ session.messagesRecus }}</td>
                <td>
                    <a href="{{ path('app_session_show', {'id': session.id}) }}" class="btn btn-secondary"><i class="bi bi-eye-fill"></i> Voir</a>
                    <a href="{{ path('app_session_edit', {'id': session.id}) }}" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
