{% extends 'base.html.twig' %}

{% block title %}CIRIS-OP | Operateurs{% endblock %}

{% block body %}
    <h1 class="mb-3">Liste des operateurs actifs</h1>
    <div class="d-flex justify-content-between mb-3">
        <a href="{{ path('app_operateur_index') }}" class="btn btn-primary"><i class="bi bi-plus-square"></i> Voir les tous opérateurs </a>
        <form method="get" action="" class="d-flex" role="search">
            <input type="text" name="search" {#value="{{ search }}"#}class="form-control me-2" placeholder="Rechercher un nom...">
            <button type="submit" class="btn btn-warning">Rechercher</button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Heure de connexion</th>
                <th>Status</th>
                <th style="width: 220px;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operateur in operateursActifs %}
            <tr>
                <td>{{ operateur.operateur.id }}</td>
                <td>{{ operateur.operateur.prenom }}</td>
                <td>{{ operateur.debut | date('Y-m-d H:i:s') }}</td>
                <td>{{ operateur.operateur.status }}</td>
                <td>
                    <a href="{{ path('app_operateur_show', {'id': operateur.id}) }}" class="btn btn-secondary"><i class="bi bi-eye-fill"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun opérateur actif</td>
            </tr>
        {% endfor %}

        <div class="pagination">
            {% if currentPage > 1 %}
                <a href="?page={{ currentPage - 1 }}" class="text-decoration-none me-3 mb-3">← Précédent</a>
            {% endif %}

            Page {{ currentPage }} sur {{ totalPages }}

            {% if currentPage < totalPages %}
                <a href="?page={{ currentPage + 1 }}" class="text-decoration-none ms-3 mb-3">Suivant →</a>
            {% endif %}
        </div>
        </tbody>
    </table>
{% endblock %}
