{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <h1>Planning</h1>

    <a href="{{ path('app_planning_index') }}" class="btn btn-secondary"><i class="bi bi-arrow-left-short"></i> Précedent</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planning.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ planning.debut ? planning.debut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ planning.fin ? planning.fin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ planning.type }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex mt-3">
        <a href="{{ path('app_planning_edit', {'id': planning.id}) }}" class="btn btn-primary me-2">
            <i class="bi bi-pencil-square"></i> Modifier
        </a>

        {{ include('operateur/_delete_form.html.twig', {'planning' :planning}) }}
    </div>
{% endblock %}
